p#notice = notice

h1 = "Sie haben #{@infection.name}. Bitte begeben sie sich in Quarantäne."

p
  strong Name:
  = @infection.name

=> link_to 'Edit', edit_infection_path(@infection)
'|
=< link_to 'Back', infections_path
